html {
    height: 100%;
}

.navbar{
    background-color: #ffffff !important; 
}

footer {
    background-color: #ffffff; 
}
  
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
  
#content-wrapper {
    flex: 1;
}